body { 
  text-align: center;
  padding: 0;
  margin: 0;
}

#analyzer{
  padding: 2em;
  text-align:center;
}

[contenteditable=true]{
  background: 
}
span.word { 
  text-align:center;
  font-family: 'Times New Roman';
  border:none;
  border-bottom: 1px dashed #666;
  font-size: x-large;
  padding: 5px;
   
}

th { 
  text-align:right;
}

