<!doctype html>
<html>
<head>
  <title>Morphological Analyzer</title>
  <meta charset=utf-8>
  <script src=js/jquery.js></script>
  <script src=js/underscore.js></script>
  <script src=js/backbone.js></script>
  <script src=js/morphemes.js></script>
  <!-- script src=js/router.js></script -->

  <link rel=stylesheet type=text/css href=css/style.css />

</head>
<body>

  <p id=word><input type=text></p>

  <script id='morphemesTemplate' type='text/template'>
  <table class=morphemes>
    <% for (var i = 0; i < morphemes.length; i++) { %>
      <tr>
        <th><%= morphemes[i] %></th>
        <td><input></td>
      </tr>
    <% } %>
  </table>
  </script>

</body>
</html>
